body {
    background: url(background.jpg)
}

.loginbox {
    position: relative;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    margin: 50px auto;
    padding: 60px 40px 40px 40px;
    box-sizing: border-box;
    background: rgb(231, 231, 231);
    border-radius: 15px;
    text-align: center;
}

.loginbox h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.loginbox h3 {
    margin: 5px 0 20px 0;
    font-size: 18px;
    color: #3E8EDE;
    text-align: center;
}

.loginbox h2 {
    margin-bottom: 25px;
    color: crimson;
    text-align: center;
}

/*.loginbox .user {
    width: 130px;
    height: 130px;
    border-radius: 20px;
    display: block;
    margin: 0 auto 30px auto;
    object-fit: cover;
}*/


.lblemail, .lblpassword {
    font-weight: bold;
    color: #0094ff;
    display: block;
    margin: 5px;
    text-align: left ;
    display: block;
}

.txtemail, .txtpassword, .btnsubmit {
    width: 100%;
    margin-bottom: 20px;
}

.txtemail, .txtpassword {
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
    background-color: transparent;
}

.placeholder {
    color: rgba(255,255,255,.5);
}

.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #dd6d6d;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.btnsubmit:hover {
    background-color: #fff;
}

.btnforget, .btnsignup {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #0094ff;
    text-align: center;
    display: block;
    margin-top: 10px;
}

.btnforget:hover, .btnsignup:hover {
    text-decoration: underline;
}

h4 {
    color: #0094ff;
    font-size: 14px;
}

.loginbox .remember {
    margin-bottom: 10px;
    color: #ff0000;
    font-weight: 400;
    font-size: 18px;
}
