body {
    font-family: Segoe UI, Arial;
    margin: 0;
    background-color: #f6f7fb;
}

header ul.navigation {
    list-style: none;
    padding: 0;
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
    position: relative
}

header ul.navigation li {
    display: inline-block;
}

.navigation li a {
    text-decoration: none;
    position: relative;
    color: #3E8EDE; 
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header ul.navigation li a:hover {
    background-color: #2c6bb2;
    color: white;
}

header ul.navigation li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.main {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.filter-section {
    margin-bottom: 15px;
}

.filter-section label, .filter-section input, .filter-section select, .filter-section button {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}

.grid-items {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #fafafa;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.grid-items th, .grid-items td {
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.grid-items th {
    background-color: #3498db;
    color: #fff;
    font-weight: 600;
}

.grid-items tr:hover {
    background-color: #f0f8ff;
}


.btnsubmit {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

.btnsubmit:hover {
    background-color: #2980b9;
}
