.user-container {
    width: 420px;
    margin: 70px auto;
    background: #f6f7fb; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-family: 'Segoe UI', Arial, sans-serif;
}

header ul.navigation {
    list-style: none;
    padding: 0;
    margin: 20px 0 40px 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
    position: relative
}

header ul.navigation li {
    display: inline-block;
}

.navigation li a {
    text-decoration: none;
    position: relative;
    color: #3E8EDE; 
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

header ul.navigation li a:hover {
    background-color: #2c6bb2;
    color: white;
}

header ul.navigation li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input {
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 14px;
    transition: 0.3s;
}

.input:focus {
    border-color: #3E8EDE; 
    box-shadow: 0 0 5px rgba(62,142,222,0.5);
}

.error {
    color: #c00;
    font-size: 12px;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    color: white;
    background-color: #89CFF0;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.btnsubmit:hover {
     background-color: #2c6bb2; 
}

.btnsubmit.danger {
    color: white;
    background-color: #c9302c; 
}

.btnsubmit.danger:hover {
    background-color: #a12725;
}

.message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
